.login_section {
    background: #347bde;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0px 50px 0px 50px;
    justify-content: center;

}

.login_div {
    border-radius: 10px;
    max-width: 500px;
    background-color: white;
    min-height: 200px;
    padding: 50px 50px 50px 50px;
}


.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    margin-bottom: 8px;
    color: #333;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.error_msg {
    color: red;
    margin-bottom: 10px;
}

