.container {
  width: 1366px;
  margin: auto;
  padding: 20px 20px 20px 20px;
}

.header {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

/* .table-responsive {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 11px;
  margin-bottom: 30px;
  border-collapse: collapse;
  overflow: hidden;
}

.table-responsive {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 11px;
  margin-bottom: 30px;
  border-collapse: collapse;
  overflow: auto !important;
  scroll-snap-type: x;
  margin-top: 50px;

}


.table {
  width: 100%;
  margin-bottom: 0 !important;
}

.table_loader {
  position: relative;
}

.table tr:last-child td {
  border-bottom: none;
}

tr td:first-child {
  border-bottom: none;
}

tr td:first-child {
  border-left: none;
}

tr td:last-child {
  border-right: none;
}

.white {
  color: white;
}

.bg_purple {
  background: #7460ee;
} */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  border-radius: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 16px;
}

th {
  background-color: #7460ee;
  font-size: 18px;
}

.blue {
  color: blue;
}

.cr_p {
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 10px;
}

.logout_button {
  text-align: end;
}

.ant-modal-footer {
  display: none;
}